//========================================
// Variables
//========================================

// Colors
//----------------------------------------

$bg-sun: #498CEC;
$bg-rain: #7290B9;

// Page sizes
//----------------------------------------
$columns: 12;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


$xs-max: ($xs - 1);
$sm-max: ($sm - 1);
$md-max: ($md - 1);
$lg-max: ($lg - 1);
$xl-max: ($xl - 1);


// Transitions
//----------------------------------------
$fast: 250ms;
$normal: 500ms;
$slow: 750ms;
