@import '../Settings/Settings.scss';
@import '../BasicInfo/BasicInfo.scss';
@import '../ExtraInfo/ExtraInfo.scss';
@import '../ExtraInfoItem/ExtraInfoItem.scss';
@import '../TempSwitcherBtn/TempSwitcherBtn.scss';
@import '../SearchField/SearchField.scss';


*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato";
  @include font-normal;
}

.weather {
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: $bg-rain;
  transition: background-color $normal;

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 0 20px 0;

    @include sm() {
      padding: 0 2.5% 5% 2.5%;
    }

    @include md() {
      padding: 0% 2.5% 2.5% 2.5%;
    }

    @include lg() {
      padding: 0 25px 50px 25px;
    }
  }

  ._loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.location {
  height: 100px;
}

.settings,
.basic-info,
.extra-info {  
  padding: 20px;

  @include sm() {
    padding: 7.5%;
  }

  @include md() {
    padding: 7.5%;
  }

  @include lg() {
    padding: 50px;
  }

  @include xl() {
    padding: 75px;
  }
}